{% extends "base.html" %}
{% block content %}
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 bg-primary">Column 1</div>
          <div class="col-xs-12 col-sm-6 col-md-4 bg-success">Column 2</div>
          <div class="col bg-danger">Column 3</div>
        </div>
<!-- <h2>My name is Vadim</h2>
<p class="alert alert-danger">Imagine there is some text!</p>
<ul class="pagination">
  <li class="page-item">
    <a href="#" class="page-link" tabindex="-1" aria-disabled="true">
      Previous
    </a>
  </li>
  <li class="page-item">
    <a href="#" class="page-link">1</a>
  </li>
  <li class="page-item active">
    <a href="#" class="page-link">2</a>
  </li>
  <li class="page-item disabled">
    <a href="#" class="page-link">Next</a>
  </li>
</ul> -->
<!--<h3 class="alert alert-warning">Heads up! My name is not Timur Dustin</h3>
<h3 class="alert alert-danger">Aaaa! We haven't got any milk</h3>
<h3 class="alert alert-success">I'm making my career</h3>
<button class="btn btn-primary">Primary button</button>
<button class="btn btn-secondary">I'm a secondary button</button>
<a href="" class="btn btn-danger">Heads up! I'm not a button indeed</a>
Dropdown menu
<h2 class="alert alert-success">Ща захерачим dropdown-menu</h2>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Choose the option</button>
  <ul class="dropdown-menu"> -->
    <!-- dropdown-item is unnecessary class
    <li><a class="dropdown-item">Red</a></li>
    <li><a class="dropdown-item">Green</a></li>
    <li><a class="dropdown-item">Blue</a></li>
  </ul>
</div><br><br>
<button class="btn btn-secondary" 
        data-bs-toggle="modal" 
        data-bs-target="#super-modal">
        Open modal window
        </button>
<div class="modal" id="super-modal">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Hello!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <h3 class="alert alert-warning">Внимание: на борту сальная гузка. Оставьте 4 после сигнала "ЧИХ"</h3>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Вам пофиг?">Мне пофиг</span>
        </div>
    </div>
    </div>
</div> -->

{% endblock %}