{% load blog_extras crispy_forms_tags %}
<h4>Comments</h4>
{% for comment in post.comments.all reversed %}
{% row "border-top pt-2" %}
    {% col %}
        <h5>Posted by {{ comment.creator|author_details:request.user }} at {{ comment.created_at|date:"M, d Y H:i" }}</h5>
    {% endcol %}
{% endrow %}
{% row "border-bottom" %}
    {% col %}
        <p>{{ comment.content }}</p>
    {% endcol %}
{% endrow %}
{% empty %}
    {% row "border-top border-bottom" %}
        {% col %}
            <p class="font-italic">No comments.</p>
        {% endcol %}
    {% endrow %}
{% endfor %}
{% if request.user.is_active %}
{% row "mt-4" %}
    {% col %}
        <h4>Add Comment</h4>
        {% crispy comment_form %}
    {% endcol %}
{% endrow %}
{% endif %}